
.most-pop{	
	height: auto;
	text-align: center;
	padding-bottom: 50px;
	width: 100%;
    display: inline-block;
    vertical-align: top;
    background: black;
}

.categories {
	border-top: 3px solid #333333;
	border-bottom: 3px solid #333333;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	text-align: center;
}


.cat{
	padding: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 150px;
	height: 175px;
	font-size: 10px;
}	

.mapimg img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
}

.uiimg img{
	width: 100px;
	height: 75px;
	margin-top: 20px;
}

.toolimg img{
	width: 90px;
	height: 75px;
	margin-top: 20px;
}

.ahimg img{
	width: 80px;
	height: 80px;
	margin-top: 10px;

}

.questimg img{
	width: 20px;
	height: 75px;

	margin-top: 20px;
}

.metersimg img{
	width: 100px;
	height: 90px;
	margin-top: 18px;

}

.bagimg img{
	width: 90px;
	height: 90px;
	margin-top: 20px;

}
.top3 img{
	width: 100%;
	height: auto;
}
.top3 {
	text-align: center;
	width: 300px;
	height: auto;
	margin-left: 2%;
	margin-top: 2%;
	background: #1a1a1a;
	display: inline-block;
	border-radius: 10px;
	padding-bottom: 20px;
}

.imgcontainer{
	height:250px;
	width: 100%;
}

.top3 a{
	text-decoration: none;
	color: white;
}

.top3 a:hover{
	color: lightgreen;
	transition: .5s;
}

.mainaddon{
	background: black;
	height: auto;
}

#description {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	height: 90px;
}

p { margin: 0; padding: 0; font-family: sans-serif;}

.ellipsis {
    overflow: hidden;
    height: 100px;
    line-height: 25px;
    margin: 20px; }

.ellipsis:before {
    content:"";
    float: left;
    width: 5px; height: 100px; }

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; }		

.ellipsis:after {
    content: "\02026";  
    
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    
    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;
    
    text-align: right;
    
    background: -webkit-gradient(linear, left top, right top,
        from(rgba(26, 26, 26, 0)), to(#1a1a1a), color-stop(50%, #1a1a1a));
    background: -moz-linear-gradient(to right, rgba(26, 26, 26, 0), #1a1a1a 50%, #1a1a1a);			
    background: -o-linear-gradient(to right, rgba(26, 26, 26, 0), #1a1a1a 50%, #1a1a1a);
    background: -ms-linear-gradient(to right, rgba(26, 26, 26, 0), #1a1a1a 50%, #1a1a1a);
    background: linear-gradient(to right, rgba(26, 26, 26, 0), #1a1a1a 50%, #1a1a1a); }

.imageshow {
	display: inline-block;
	width: 40%;
	height: auto;
 }

 .mainaddon{
 	padding: 100px 50px;
 }

.desc{
 	display: inline-block;
 	width: 50%;
 	vertical-align: top;
 	margin-top: 0;
 	text-align: center;
 	margin-left: 5%;
 }

 footer{
 	background: #1a1a1a;
 }

 .about{
 	text-align: center;
 	background: black;
 }

 .footlogo{
 	display: inline-block;
 	margin-top: 50px;
 	margin-bottom: 50px;
 }
 .aboutlink{
 	float: right;
 	margin-top: 120px;
 	margin-right: 10%;
 	text-decoration: none;
 	color: white;
 	font-size: 40px;
 }