
.most-pop{
	margin-top: 20px;	
	height: auto;
	text-align: center;
	padding-bottom: 50px;
	width: 100%;
    display: inline-block;
    vertical-align: top;
}

.categories {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	background: black;
	text-align: center;
}


.cat{
	padding: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 250px;
	height: 300px;
}	

.mapimg img{
	width: 200px;
	height: 200px;
	margin-top: 10px;
}

.uiimg {
	width: 200px;
	height: 150px;
	margin-top: 20px;
}

.toolimg {
	width: 175px;
	height: 150px;
	margin-top: 20px;
}

.ahimg{
	width: 150px;
	height: 150px;
	margin-top: 10px;

}

.questimg{
	width: 50px;
	height: 150px;

	margin-top: 20px;
}

.metersimg {
	width: 175px;
	height: 175px;
	margin-top: 20px;

}

.bagimg {
	width: 125px;
	height: 125px;
	margin-top: 20px;

}
.top3 img{
	width: 100px;
	height: 100px;
}
.top3 {
	text-align: center;
	width: 300px;
	height: 420px;
	margin-left: 2%;
	margin-top: 2%;
	background: #1a1a1a;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
}

.mainaddon{
	background: black;
	height: auto;
}