<div class="about">
<h2 style="margin-top:0;">About Vanilla Games</h2>

<p>Vanilla games is brought to you by a vanilla gamer wanting a hub for all addons related to vanilla gaming. Expanding soon.</p>
</div>