<div class="about">
<h2 style="margin-top:0;">Vanilla Games</h2>

<p>Top Vanilla addons. One stop shop for everything Vanilla</p><br>
<p>Vanilla games is brought to you by a vanilla gamer wanting a hub for all the top addons related to vanilla gaming. Expanding soon.</p>

</div>